<a href="https://colab.research.google.com/github/SrishBansal/colaab/blob/import/2020_10_08_Srish_Bansal_Project_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---

#### Activity 1: Create and update a null NumPy array

Create a null NumPy array of size 10 and update the sixth value to 11.

A null array is basically an array with all elements as `0`.

Follow the steps given below to achieve the desired result:

- **Step 1:** Import the Numpy module as `np`.

- **Step 2**: Create a null array by passing the size i.e. `10` inside the `np.zeros()` function and store it in a variable `null_arr`.

- **Step 3**: Print the null array.

- **Step 4**: Now update the sixth element of the array by using **list indexing** method. As you need to update the sixth element, the index must be `5`.

- **Step 5**: Print the updated array in the output.

In [ ]:
# Write a program to create Null array of size 10 and update the sixth value to 11.
import numpy as np
null_arr = np.zeros(10)
print(null_arr)
null_arr[6] = 11
print("updated array is -:" , null_arr)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
updated array is -: [ 0.  0.  0.  0.  0.  0. 11.  0.  0.  0.]

---

#### Activity 2: Populate a number list

Write a program that populates a list by numbers that lie in the range of 0 to 49 and are also divisible by 5. Use the **List Comprehension** method.

**Output**: `[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]`

In [ ]:
# Write a program to populate a number list divisible by 5 in a range of 0 - 49
num_list = [i for i in range(49) if i % 5 == 0]
print(num_list)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

---

#### Activity 3: Convert a list into an array

Write a program to convert a list of numeric values into a one-dimensional NumPy array.

**For Example:**

**Input**: `lst = [12.23, 13.32, 100, 36.32]`

Data type of `lst` = `list`

**Output**: `numpy_array = [12.23, 13.32, 100, 36.32]`

Data type of `numpy_array` = `numpy.ndarray`

In [ ]:
# Write a program to convert a list into one dimensional NumPy array
lst = [12.23, 13.32, 100, 36.32]
print("data type of lst is -: ", type(lst))
numpy_array = np.array(lst)
print("data type of numpy_array is -: ", type(numpy_array))

data type of lst is -:  <class 'list'>
data type of numpy_array is -:  <class 'numpy.ndarray'>

---

---